@import url('https://fonts.googleapis.com/css?family=Maitree|Montserrat|Rufina&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --blue: #7D98A1;
  --mainWhite: #fff;
  --offWhite: #FAF6F8;
  --purple: #30223D;
  --taupe: #C8BDBA;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}


/* Styles consistent through website */
body {
  padding-top: 66px;

  background: var(--offWhite);

  line-height: 1.4;
  color: var(--purple);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;

  font-size: 1em;
  line-height: 1.5;

  font-family: 'Rufina', serif;
}

.btn-primary {
  display: inline-block;

  margin-top: 0.5em;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--blue);

  background: var(--blue);

  transition: var(--mainTransition);
  
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: var(--mainSpacing);
  color: var(--purple);
}

.btn-primary:hover {
  background: transparent;

  color: var(--purple);
}

.loading {
  margin-top: 3rem;

  text-transform: capitalize;
  text-align: center;
}

.error {
  margin: 2rem 0;
  padding-top: 3em;

  text-align: center;
  text-transform: uppercase;
}

.empty-search {
  margin: 2rem 0;
  padding: 1rem;

  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 0.75rem 2rem;

  background: var(--purple);

  z-index: 1;

  font-family: 'Montserrat', sans-serif;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  border: none;

  background: transparent;
}

.nav-icon {
  font-size: 1.5rem;
  color: var(--offWhite);
}

.nav-links {
  height: 0;
  overflow: hidden;

  transition: var(--mainTransition);

  list-style-type: none;
}

.nav-links a {
  display: block;

  padding: 1rem 0;

  transition: var(--mainTransition);

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--offWhite);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  background: var(--taupe);

  color: var(--purple);
}

.show-nav {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1170px;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;

    height: auto;
    margin-left: 4rem;
  }

  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}


/* Hero */
.defaultHero,
.workshopsHero,
.contactHero {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 66px);

  background: url("./images/workshop-hero.jpg") center/cover no-repeat;
}
.workshopsHero {
  background-image: url("./images/denis-oliveira-_12PwFpWZZ0-unsplash.jpg");
}

.contactHero {
  background-image: url("./images/contact-hero.jpg");
}


/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1rem;

  background: rgba(122, 122, 122, 0.45);

  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;

  margin: 1.7rem auto;

  background: var(--blue);
}
.banner p {
  margin-bottom: 2rem;

  font-size: 1.2rem;
  font-family: 'Maitree', serif;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}


/* Title */
.section-title {
  margin-bottom: 4rem;

  text-align: center;
}

.section-title h4 {
  margin-bottom: 1rem;

  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;

  background: var(--blue);
}


/* featured workshop */
.featured-workshops {
  padding: 5rem 0;
}

.featured-workshops-center {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
  .featured-workshops-center {
    width: 90vw;

    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .featured-workshops-center {
    width: 95vw;
    max-width: 1170px;
  }
}


/* workshop page */
.workshop {
  transition: var(--mainTransition);
}

.img-container {
  position: relative;
}

.img-container img {
  max-width: 100%;
  display: block;

  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0.3rem 0.6rem 0.5rem;

  background: var(--taupe);

  transition: var(--mainTransition);

  color: var(--purple);
  font-size: 1rem;
  text-align: center;
}

.price-top h6 {
  margin-bottom: 0;

  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.workshop-link {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(255, 255, 255, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .workshop-link {
  transform: translate(-50%, -50%) scale(1);
}

.workshop-info {
  padding: 1rem 0;

  background: var(--taupe);

  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}

.workshop-date {
  padding: 0.4rem 0;
  background: var(--blue);

  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  color: var(--offWhite);
}


/* single workshop */
.single-workshop {
  padding: 5rem 0 0 0;
}
.single-workshop-images {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-workshop-images img {
  display: block;

  width: 300px;
  height: 200px;

  object-fit: cover;
}

.single-workshop-info {
  width: 80vw;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 1fr;
}

.desc,
.info {
  margin: 1rem 0;
}

.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.desc p {
  line-height: 1.5;

  font-family: 'Maitree', serif;
}

.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}

@media screen and (min-width: 992px) {
  .single-workshop-images,
  .single-workshopinfo {
    width: 95vw;
    max-width: 1170px;
  }

  .single-workshop-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .info {
    padding-left: 3rem;
  }
}


/* for the workshop list */
.workshopslist {
  padding: 5rem 0;
}

.workshopslist-center {
  width: 80vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .workshopslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .workshopslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}


/* for the workshop filter section */
.filter-container {
  padding: 5rem 0;
}

.filter-form {
  width: 60vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.form-group {
  text-transform: capitalize;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;

  letter-spacing: var(--mainSpacing);
}

.form-control {
  width: 100%;

  background: transparent;

  font-size: 1rem;
}

.size-inputs {
  display: flex;
}

.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--purple);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.single-extra label {
  margin-left: 0.5rem;
  display: inline-block;

  font-size: 0.8rem;
}

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}

@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}


/* connect page */
.connect {
  padding: 5rem 0;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  padding: 0.5em;

}

#connect-form {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 2em 3em;

  background: var(--taupe);
}

#connect-form label {
  padding-top: 1em;
}

#connect-name, #connect-email, #connect-message {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  border: none;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#connect-name, #connect-email {
  padding-right: 5em;
}

.aura-connect {
  display: flex;
  align-items: center;
  padding: 2em;
}

.connect-info {
  margin: 2em;

  text-transform: none;
}

